:root {
    --bg-color: #111213;
    --txt-color: #f4f4f4;

    --shadow-color: rgba(0, 0, 0, 0.1);

    --padding: 1rem;
    --br-radius: 0.75rem;
    --br-size: 1px;
    --br-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: var(--txt-color);
    background-color: var(--bg-color);
    line-height: 1.6;
}